$primary: #3498db;
$border: #ddd;

.container {
  display: flex;
  width: 520px;
  max-width: 100%;
  flex-direction: column;
  background-color: #fff;
  text-align: center;
  border: 1px solid $border;
  padding: 20px;

  a {
    color: $primary;
  }
}

.tabs {
  display: flex;
  margin-bottom: 10px;
}

.tab {
  padding: 10px 0;
  flex: 1;
  color: $primary;
  border: 1px solid $primary;
  cursor: pointer;
}

.tabActive {
  color: #fff;
  background-color: $primary;
}

.textarea {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid $border;
  outline: 0;
  font-size: 13px;
  resize: none;
}
